// Windows resource file for QuickSort context menu DLL.
#include <winuser.h>
#include <verrsrc.h>

1 RT_MANIFEST "manifest.xml"

QUICKSORT_ICON         ICON    "quicksort.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,2,0,0
PRODUCTVERSION  0,2,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "QuickSort"
            VALUE "FileDescription", "QuickSort Context Menu Shell Extension"
            VALUE "FileVersion", "0.2.0"
            VALUE "InternalName", "context-menu-dll"
            VALUE "OriginalFilename", "context_menu_dll.dll"
            VALUE "ProductName", "QuickSort"
            VALUE "ProductVersion", "0.2.0"
            VALUE "LegalCopyright", "QuickSort License"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04b0
    END
END
