// In order to embed an icon in the assembly.
#include <winuser.h>
#include <verrsrc.h>

1 RT_MANIFEST "manifest.xml"

IDI_MYAPP_ICON          ICON    "whatever.ico"
IDI_MYAPP_ICON_SMALL    ICON    "whatever.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,2,0,0
PRODUCTVERSION  0,2,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        // US English UTF-16.
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "QuickSort"
            VALUE "FileDescription", "QuickSort Shell Extension"
            VALUE "FileVersion", "0.2.0"
            VALUE "InternalName", "context-menu-dll"
            VALUE "OriginalFilename", "context-menu-dll.dll"
            VALUE "ProductName", "QuickSort"
            VALUE "ProductVersion", "0.2.0"
            VALUE "LegalCopyright", "QuickSort"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04b0
    END
END
